@model NewStudent

@{
    Layout = "_Layout";
}

<div class="col-12">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Add Student</h6>
        <form asp-controller="Home" asp-action="AddStudent" asp-route-id="@ViewBag.Id" method="post">
            <div class="mb-3">
                <label for="firstName" class="form-label">Student Firstname</label>
                <input type="text" asp-for="FirstName" class="form-control" id="firstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Student Lastname</label>
                <input type="text" asp-for="LastName" class="form-control" id="lastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="studentNumber" class="form-label">Student Number</label>
                <input type="text" asp-for="StudentNumber" class="form-control" id="studentNumber" />
                <span asp-validation-for="StudentNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="grade" class="form-label">Grade</label>
                <input type="text" asp-for="Grade" class="form-control" id="grade" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Accept</button>
        </form>
    </div>
</div>
